.sidebar {
    @apply tw-sticky;
}

.owner {
    @apply tw-flex-col tw-flex tw-items-center;

    & > div:first-child {
        @apply tw-h-24 tw-bg-[url(/images/pages/blog-avatar-bg.webp)] 
        tw-bg-no-repeat tw-bg-center tw-bg-cover;
    }

    & > .ownerAvatar {
        @apply tw-h-16 !tw-w-16 tw-rounded-full tw--mt-8 tw-cursor-pointer tw-shadow-nymd tw-p-1 tw-bg-white;

        &:hover {
            @apply tw-shadow-nylg tw-shadow-amber-400;
            transition: 0.4s;
            transform: scale(1.2) rotate(360deg);
            animation: breathe-light 4s ease-in-out infinite;
        }

        & img {
            @apply tw-h-full tw-w-full tw-rounded-full;
        }
    }

    & > div:last-child {
        @apply tw-h-16 tw-flex tw-justify-center tw-items-center tw-text-neutral-500/80 tw-font-kaiti;
    }
}

.owner,
.tags,
.posts {
    @apply tw-hidden md:tw-flex;
}

.tags,
.posts,
.courses {
    @apply tw-flex-col tw-p-2;
}

.tags > .tagsContent,
.posts > .postsContent,
.courses > .coursesContent {
    @apply tw-flex  tw-pt-2;
}

.tags > .tagsContent {
    @apply tw-flex-wrap;

    & > a {
        @apply tw-mb-2;
    }
}

.posts > .postsContent {
    @apply tw-flex-col;

    & > a {
        @apply tw-p-2 tw-border-b-[1px] tw-border-dashed tw-border-b-stone-400/20 last:tw-border-none;
    }
}

.courses > .coursesContent {
    @apply tw-flex-col tw-px-1;

    > .courseItem {
        @apply tw-flex md:tw-flex-col lg:tw-flex-wrap tw-py-1 first:tw-pt-0 last:tw-pb-0 tw-border-b 
        tw-border-b-stone-400/20 last:tw-border-none tw-h-[5rem] md:tw-h-[auto] lg:tw-h-[5rem];

        > a {
            @apply tw-rounded-md tw-w-1/2 md:tw-w-full lg:tw-w-1/2 md:tw-h-[5rem] lg:tw-h-full
            tw-mr-2  tw-overflow-hidden tw-relative tw-flex;

            & > div {
                @apply !tw-w-full !tw-h-full;
            }

            & img {
                @apply tw-rounded-md tw-w-full tw-overflow-hidden tw-transition-all tw-duration-300 !tw-h-full hover:tw-scale-125;
                object-fit: cover;
            }
        }

        > .courseBody {
            @apply tw-w-1/2 md:tw-w-full lg:tw-w-1/2 md:tw-max-h-[5rem] lg:tw-max-h-full
            tw-flex tw-flex-col tw-justify-between;

            & > .courseTitle {
                @apply tw-leading-[1.2] tw-mb-1 md:tw-mt-2 lg:tw-mt-0;
            }

            & > .courseDesc {
                @apply tw-pt-2 tw-line-clamp-2 tw-break-all tw-text-xs tw-leading-[0.8rem]
                md:tw-mb-1 lg:tw-mb-[var(--ifm-paragraph-margin-bottom)];
            }
        }
    }
}

html[data-theme='dark'] {
    .owner > div:last-child {
        @apply tw-text-neutral-100/80;
    }

    .courses > .coursesContent > .courseItem {
        @apply tw-border-none;
    }
}
