.dock {
    --md-translate-y: 0;
    --control-display: none;
    --control-rotate: rotate(0);

    @apply tw-fixed
               tw-flex-col
               tw-flex-none
               tw-flex
               tw-bottom-0
               tw-left-1/2
               tw--translate-x-1/2
               tw-translate-y-[var(--lg-translate-y)]
               tw-z-[calc(var(--rf-base-modal-z-index)-2)]
               tw-transition-transform
               tw-w-full
               tw-items-center
               lg:tw-w-auto
               lg:tw-bottom-auto
               lg:tw-top-1/2
               lg:tw--translate-x-0
               lg:tw--translate-y-1/2
               lg:tw-left-0
               lg:tw-transition-none;

    & > .container {
        @apply tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center tw-py-2 tw-overflow-auto        
             tw-text-neutral-50 
               tw-backdrop-blur-sm
               tw-shadow-nymd
               tw-bg-[color:var(--rf-dock-background-color)]
               lg:tw-rounded-md 
               lg:tw-overflow-visible 
               lg:tw-flex-col  
               lg:tw-py-3;
    }

    & > .controlBtn {
        @apply tw-text-2xl tw-text-black tw-transition-transform tw-mb-4 tw-self-end tw-mr-4 md:tw-hidden;
        display: var(--control-display);

        @screen lg {
            @apply tw-hidden;
        }
        transform: var(--control-rotate);

        & svg {
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 90%));
        }
    }
}

.activeDockBtn {
    @apply tw--translate-y-2 md:tw-translate-x-2 md:tw-translate-y-0;
    box-shadow: 0 10px 15px -3px #fcd34d, 0 4px 6px -4px #fcd34d !important;
}

.dock > .container > .dockItem {
    @apply tw-mx-2
               tw-flex
               first:tw-ml-0
               last:tw-mr-0
               lg:tw-px-1
               lg:tw-mx-auto
               lg:tw-my-2
               lg:first:tw-ml-auto
               lg:last:tw-mr-auto
               lg:first:tw-mt-0
               lg:last:tw-mb-0;

    & > .dockBtn {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%), 0 4px 6px -4px rgb(0 0 0 / 20%);

        @apply tw-text-lg
               tw-inline-flex
               tw-justify-center
               tw-items-center
               tw-border-0
               tw-rounded-md
               tw-bg-[color:var(--rf-dock-btn-color)]
               tw-text-neutral-50
               tw-transition
               tw-ease-in-out
               tw-duration-150
               hover:tw-text-neutral-50
               tw-backdrop-blur-xl
               tw-z-[calc(var(--rf-base-modal-z-index)-1)]
               tw-h-6
               tw-w-6;
    }
}

@screen md {
    .dockBtn {
        box-shadow: -10px 0 15px -3px rgb(0 0 0 / 20%), -4px 0 6px -4px rgb(0 0 0 / 20%);
    }

    .activeDockBtn {
        box-shadow: -10px 0 15px -3px #fcd34d, -4px 0 6px -4px #fcd34d !important;
    }
}

html[data-theme='dark'] {
    .controlBtn {
        @apply tw-text-white;

        & svg {
            filter: drop-shadow(3px 5px 2px rgb(144 130 130 / 50%));
        }
    }
}
